---
http_interactions:
- request:
    method: get
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/quotes/latest?convert=USD&symbol=BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Cmc-Pro-Api-Key:
      - "<COIN_MARKET_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Traefik-Route:
      - coinmarketcap-pro-apis
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"timestamp":"2023-01-15T22:26:40.795Z","error_code":0,"error_message":null,"elapsed":24,"credit_count":1,"notice":null},"data":{"BTC":{"id":1,"name":"Bitcoin","symbol":"BTC","slug":"bitcoin","num_market_pairs":9931,"date_added":"2013-04-28T00:00:00.000Z","tags":["mineable","pow","sha-256","store-of-value","state-channel","coinbase-ventures-portfolio","three-arrows-capital-portfolio","polychain-capital-portfolio","binance-labs-portfolio","blockchain-capital-portfolio","boostvc-portfolio","cms-holdings-portfolio","dcg-portfolio","dragonfly-capital-portfolio","electric-capital-portfolio","fabric-ventures-portfolio","framework-ventures-portfolio","galaxy-digital-portfolio","huobi-capital-portfolio","alameda-research-portfolio","a16z-portfolio","1confirmation-portfolio","winklevoss-capital-portfolio","usv-portfolio","placeholder-ventures-portfolio","pantera-capital-portfolio","multicoin-capital-portfolio","paradigm-portfolio"],"max_supply":21000000,"circulating_supply":19263375,"total_supply":19263375,"is_active":1,"platform":null,"cmc_rank":1,"is_fiat":0,"self_reported_circulating_supply":null,"self_reported_market_cap":null,"tvl_ratio":null,"last_updated":"2023-01-15T22:25:00.000Z","quote":{"USD":{"price":20836.799447491183,"volume_24h":19507263932.08816,"volume_change_24h":-50.9988,"percent_change_1h":-0.28251182,"percent_change_24h":-0.2700894,"percent_change_7d":22.78823882,"percent_change_30d":23.5858547,"percent_change_60d":26.04717396,"percent_change_90d":6.38184868,"market_cap":401387081556.8155,"market_cap_dominance":40.9234,"fully_diluted_market_cap":437572788397.31,"tvl":null,"last_updated":"2023-01-15T22:25:00.000Z"}}}}}'
  recorded_at: Sun, 15 Jan 2023 22:26:40 GMT
recorded_with: VCR 3.0.3
