---
http_interactions:
- request:
    method: get
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/quotes/latest?convert=USD&symbol=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Cmc-Pro-Api-Key:
      - "<COIN_MARKET_API_KEY>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Traefik-Route:
      - coinmarketcap-pro-apis
    body:
      encoding: UTF-8
      string: '{"status":{"timestamp":"2023-01-15T22:29:24.312Z","error_code":400,"error_message":"\"symbol\"
        is not allowed to be empty","elapsed":0,"credit_count":0}}'
  recorded_at: Sun, 15 Jan 2023 22:29:24 GMT
recorded_with: VCR 3.0.3
