<h1>BTC current price: $<%= number_with_precision(@latest_price&.last_close_value, precision: 2)%><h1>

<div>
  <label for="">FROM</label>
   <input type="date" class="form-control" id="fromfield" value=<%=last_week_date%> >
  <label for="">TO</label>
  <input type="date" class="form-control" id="tofield" value=<%=today_date%>> 
  <button  class="btn graphJS" value="by_date">YTD</button>
  <button  class="btn graphJS" value="by_hour">1 hour</button>
  <button  class="btn graphJS" value="one_day">1 day</button>
  <button  class="btn graphJS" value="week">1 week</button>
  <button  class="btn graphJS" value="month">1 month</button>
  <button  class="btn graphJS" value="year">1 year</button>
  
</div>
<canvas id="myChart"></canvas>
<%= render partial: 'line_chart_js' %>
